- if (user.has_github == false)
  p No github account found for #{user.username}
- else
  section(id='github-own')
    h2 #{user.username}'s projects
    - for (var i in owned = user.github.own)
      - if (owned[i].description != "")
        article(id='gh-' + owned[i].name)
          header
            h3
              a(href=owned[i].html_url) #{owned[i].name}
          p(class='description') #{owned[i].description}
          - if (owned[i].language != "")
            p(class='language') #{owned[i].language}
      
  section(id='github-collab', style='display:none')
    h2 projects #{user.username} has worked on