section(id='github-own')
  h2 #{user}'s projects
  - for (var i in stuff)
    - if (stuff[i].description != "")
      article(id='sw-' + stuff[i].name)
        header
          h3
            a(href=stuff[i].html_url) #{stuff[i].name}
        p(class='description') #{stuff[i].description}
        p(class='language') #{stuff[i].language}
      
section(id='github-collab', style='display:none')
  h2 projects #{user} has worked on