- for (var i in own)
  article
    header
      h3
        a(href="#{own[i].html_url}") #{own[i].name}
      - if (own[i].homepage != "")
        p(class='app_link')
          a(href="#{own[i].homepage}") #{own[i].homepage}
      p(class='description') #{own[i].description}
      p(class='language') #{own[i].language}